.c-content {
  h1 {
    @include th1;
  }

  h2 {
    @include th2;

    margin: gap(6) 0 gap(4) 0;
  }

  h3 {
    @include th3;

    margin: gap(6) 0 gap(4) 0;
    text-transform: uppercase;
  }

  h4 {
    @include th4;

    margin: gap(6) 0 gap(4) 0;
  }
}
