/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$brand: #172844;
$primary: #e50047;
$white: #fff;
$black: #000;
$medium: #666;
$gray: #bababa;
$light: #eaeaea;

// Derechos Digitales gradient
$dd-gradient-from: #0b2745;
$dd-gradient-via: #70237c;
$dd-gradient-via-2: #ed2949;
$dd-gradient-to: #ef7027;
