/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$brand: #172844;
$primary: #e50047;
$white: #fff;
$black: #000;
$medium: #666;
$gray: #bababa;
$light: #eaeaea;
