.c-page-header {
  margin-bottom: gap(8);

  @media (min-width: $md) {
    position: relative;
  }

  &__title {
    @include th1;

    margin: 0 0 gap(2) 0;

    @media (min-width: $md) {
      margin-bottom: gap(4);
    }

    &--h2 {
      @include th2;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__image {
    display: none;

    @media (min-width: $md) {
      display: block;
      position: absolute;
      right: 0;
      transform: translateY(gap(8));
      bottom: 100%;
    }
  }
}
