.c-newsletter {
  background-color: $primary;
  padding: gap(4) 0;
  margin-top: gap(8);

  @media (min-width: $md) {
    margin-top: gap(16);
    padding: gap(8) 0;
  }

  &__wrapper {
    @media (min-width: $md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__title {
    @include th2;

    color: $brand;
    background-color: $white;
    margin: 0 0 gap(2) 0;
  }

  &__subtitle {
    @include th1;

    margin: 0 0 gap(4) 0;

    @media (min-width: $md) {
      margin: 0;
    }
  }

  &__form {
    background: $white;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: gap(2);

    @media (min-width: $md) {
      min-width: 400px;
    }

    input {
      padding: gap(1) 0;
      border: 0;
      appearance: none;
      color: $brand;
      font-weight: bold;
      font-size: rem(16px);
      outline: none;
      flex: 1;

      @media (min-width: $md) {
        font-size: rem(18px);
        padding-left: gap(2);
      }

      &::placeholder {
        color: $brand;
      }
    }
  }
}
