.c-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__title {
    @include th2;

    margin: 0 0 gap(2) 0;

    @media (min-width: $md) {
      margin-bottom: 0;
    }
  }
}
