.c-member {
  display: grid;
  grid-auto-flow: column;
  grid-gap: gap(14);
  grid-template-columns: 35% auto;

  &__avatar {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__info {
    &-name {
      color: $brand;
      margin-top: -1rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
    }

    &-position {
      color: $brand;
      margin-top: gap(-4);
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 400;
    }

    &__contact {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: gap(2);

      &-email {
        @include member-email;
        justify-self: start;
      }
      &-social {
        @include member-social;
        justify-self: end;
      }
    }

    hr {
      border: none;
      height: 1px;
      background-color: $brand;
      margin: gap(4) 0px;
    }
  }
}
