.c-banner {
  padding: gap(6) 0;
  color: $white;
  text-align: center;

  @media (min-width: $md) {
    padding: gap(8) 0;
  }

  &__title {
    font-size: rem(32px);
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 gap(2) 0;

    @media (min-width: $md) {
      font-size: rem(48px);
    }
  }

  &__desc {
    margin-bottom: gap(4);
  }
}
