.c-hero {
  background-image: linear-gradient(to bottom, rgba(241, 241, 241, 0), #f1f1f1);
  margin-bottom: gap(10);
  margin-top: gap(-4);

  @media (min-width: $md) {
    margin-top: gap(-12);
    margin-bottom: gap(16);
  }

  &__wrapper {
    @include container;

    & {
      padding-top: gap(4);
    }

    @media (min-width: $md) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    max-width: rem(560px);
    flex: 1;
  }

  &__title {
    @include th3;

    & {
      margin: 0 0 gap(12) 0;
      text-transform: uppercase;
      position: relative;
      width: 100%;
    }

    @media (min-width: $md) {
      font-size: rem(32px);
      margin-bottom: gap(16);
    }

    span {
      color: $primary;
      display: block;
      font-size: rem(28px);
      line-height: 1.2;
      animation: topToBottom 6s linear infinite 0s;
      opacity: 0;
      overflow: hidden;
      position: absolute;

      @media (min-width: 360px) {
        font-size: rem(35px);
      }

      @media (min-width: $md) {
        font-size: rem(50px);
        line-height: 1;
      }

      &:nth-child(2) {
        animation-delay: 3s;
      }
    }
  }

  &__subtitle {
    color: $brand;
    font-family: $font-primary;
    font-size: rem(16px);
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;

    span {
      display: block;
      font-weight: 400;
      text-transform: none;
    }
  }

  &__image {
    display: block;
    position: relative;
    top: gap(4);

    @media (min-width: $md) {
      margin-bottom: gap(-10);
      position: unset;
      top: 0;
    }
  }
}
