.c-page-header {
  margin-bottom: gap(8);

  &__title {
    @include th1;

    margin: 0 0 gap(3) 0;

    @media (min-width: $md) {
      margin-bottom: gap(4);
    }

    &--h2 {
      @include th2;
    }
  }

  &__subtitle {
    @include subtitle;
  }
}
