.c-header {
  @include container;

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: gap(4);
  padding-top: gap(4);
  margin-bottom: gap(4);

  @media (min-width: $md) {
    margin-bottom: gap(12);
  }

  .header-overlap & {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
  }

  &__logo {
    display: block;
    max-width: 200px;

    @media (min-width: $xs) {
      max-width: none;
    }

    svg {
      display: block;
      max-width: 100%;
    }
  }

  &__menu-toggle {
    appearance: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    display: block;
    flex: 0 0 gap(4);
    height: gap(4);
    outline: none;
    position: relative;
    text-decoration: none;
    width: gap(4);

    @media (min-width: $md) {
      display: none;
    }

    .text {
      display: none;
    }

    .bar {
      background: $brand;
      display: block;
      height: 6px;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.25s ease-in-out;
      width: 100%;

      &:nth-child(2) {
        top: calc(50% - 3px);
      }

      &:nth-child(3) {
        top: calc(100% - 6px);
      }
    }

    &.is-active {
      z-index: 10;

      .bar {
        background: $brand;

        &:nth-child(1) {
          top: 50%;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-135deg);
        }
      }
    }
  }

  .c-menu {
    @include basic-transition(right);

    background-color: $white;
    box-shadow: -10px 0 4px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    height: 100vh;
    padding: gap(16) gap(4) gap(4) gap(4);
    position: fixed;
    right: -100%;
    top: 0;
    width: 66vw;
    z-index: 9;

    @media (min-width: $md) {
      box-shadow: none;
      height: auto;
      padding: 0;
      position: unset;
      right: auto;
      top: auto;
      width: auto;
    }

    &.is-active {
      right: 0;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;

      @media (min-width: $md) {
        display: flex;
      }
    }

    &__item {
      color: $brand;
      font-size: rem(14px);
      font-weight: 600;
      line-height: 1.71;
      margin-bottom: gap(3);
      text-transform: uppercase;

      @media (min-width: $md) {
        margin: 0;
      }

      a {
        color: $brand;
        padding: 0 gap(2);
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }

      &--lang {
        padding: gap(3) 0 0 0;
        position: relative;

        @media (min-width: $md) {
          padding-top: 0;
        }

        a {
          align-items: center;
          display: flex;

          @media (min-width: $md) {
            padding: 0 gap(2) 0 gap(4);
          }
        }

        svg {
          margin-right: gap(1);
        }

        &::before {
          background-color: $brand;
          content: '';
          display: block;
          height: 1px;
          left: gap(2);
          position: absolute;
          top: 0;
          width: gap(2);

          @media (min-width: $md) {
            height: gap(2);
            left: gap(1);
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
          }
        }
      }
    }
  }
}
