.c-featured {
  @include container;
  margin-bottom: gap(18);

  &__title {
    @include th2;
    margin-top: gap(8);
  }

  &__item {
    margin-top: gap(8);
    margin-bottom: gap(12);

    @media (min-width: $sm) {
      position: relative;
      padding-left: gap(11);
      padding-top: gap(5);
      margin-top: gap(12);
      margin-bottom: gap(16);
    }

    &-title {
      font-family: $font-secondary;
      font-size: rem(40px);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
      margin: 0 0 gap(3) 0;
      color: $brand;

      @media (min-width: $sm) {
        max-width: 50%;
        margin: 0 0 gap(5) 0;
      }

      @media (min-width: $md) {
        font-size: rem(64px);
      }
    }

    &-subtitle {
      @include th3;

      & {
        background-color: $white;
        padding: 0 gap(2) gap(2) gap(2);
        text-transform: uppercase;
        margin: 0 0 0 gap(-2);
        width: calc(100vw - #{gap(4)});
        position: absolute;
        z-index: 1;
      }

      @media (min-width: $sm) {
        width: auto;
        display: inline-block;
        padding: gap(1) gap(2) gap(1) 0;
        margin: 0 0 gap(2) 0;
        position: relative;
      }

      @media (min-width: $md) {
        margin: gap(3) 0;
      }
    }

    &-image {
      display: block;
      margin: 0 0 gap(3) gap(-4);
      max-width: 100vw;
      width: 100vw;

      @media (min-width: $sm) {
        max-width: 40%;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        max-height: 100%;
      }
    }

    &-desc {
      margin-bottom: gap(3);

      @media (min-width: $sm) {
        max-width: 50%;
      }
    }
  }

}
