@use "sass:list";

///* ========================================================================
//   #ANIMATIONS-TRANSITONS
//   ======================================================================== */

@mixin basic-transition(
  $properties: (
    all,
  ),
  $duration: $transition-duration,
  $delay: null,
  $easing: $easing
) {
  $value: null;

  @each $prop in $properties {
    $prop-value: list.append((), $prop, space);
    $prop-value: list.append($prop-value, $duration, space);

    @if $delay != null {
      $prop-value: list.append($prop-value, $delay, space);
    }

    $prop-value: list.append($prop-value, $easing, space);

    $value: list.append($value, $prop-value, comma);
  }

  transition: $value;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(gap(-1));
  }

  5% {
    opacity: 1;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
    transform: translateY(0);
  }

  35% {
    opacity: 0;
    transform: translateY(gap(1));
  }
}
