/* ==========================================================================
   #SPACING-VARIABLES
   ========================================================================== */

$gap: 8px;
$spacer: $gap * 2;
$grid-gap: $gap * 4;
$border-width: 5px;
$container-px: 1184px;
$container-full-px: 1600px;
$container-small-px: 736px;
