.c-content {
  h1 {
    @include th1;
  }

  h2 {
    @include th2;

    & {
      margin: gap(6) 0 gap(4) 0;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }

  h3 {
    @include th3;

    & {
      margin: gap(6) 0 gap(4) 0;
      text-transform: uppercase;
    }

    a {
      color: #172844;
      font-weight: 900;
      text-decoration: none;
    }
  }

  h4 {
    @include th4;

    & {
      margin: gap(6) 0 gap(4) 0;
    }
  }
}

.c-post {
  h2 {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    line-height: 1.55;
    margin: 2.5rem 0 1rem;
    padding: 0;
    a {
      color: #172844;
      font-weight: 800;
      text-decoration: none;
    }
  }
  h3 {
    font-family: Montserrat, sans-serif;
    font-size: 1.3rem;
    line-height: 1.35;
    margin: 2.5rem 0 1rem;

    a {
      background-color: transparent;
      font-weight: 600;
      color: #172844;
      text-decoration: none;
    }
  }
}
